<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
	<title>Home Page</title>
</head>
<body>
	
		<header>
  <h1>HELLO</h1>
	</header>
<main>
  <table>
		<thead>
			<tr>
				<th>Assignment</th>
				<th>Score</th>
				<th>Total</th>
        <th>Completed</th>
        <th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{{#each assignments}}
			<tr>
				<td>{{name}}</td>
				<td>{{score}}</td>
        <td>{{total}}</td>
        <td>{{completed}}</td>
				<td>
					<a href="/edit?id={{id}}">Edit</a>
						<a href="/delete?id={{id}}">Delete</a>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>

  <p>Overall Average: {{averagePercentage}}</p>
</main>
<footer></footer>
<a href="/add">Add an Assignment</a>
<a href="/api/summary">API Format</a>
</footer>

</body>
</html>